pandas
numpy
matplotlib
seaborn
scikit-learn
ipykernel
phidata
python-dotenv
yfinance
duckduckgo-search
fastapi
uvicorn
groq
openai
python-multipart
ipywidgets
ddgs
agno 
chromadb
pypdf
sentence-transformers